@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility: hide scrollbar for horizontal carousels */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
